<div class="navbar navbar-default navbar-static-top kym_nav" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class=" kym_nav_item" style="float: left;">
        <img src="../assets/images/mavencare_logo.png" style="height: 38px; margin-top: 9px;">
      </a>
      <div class="navbar-band" style="font-family: HelveticaNeue; margin-left: 50px; font-size: 14px; font-weight: 400; float: left; margin-top: 18px;">Calendar</div>
      <div class="navbar-band" style="font-family: HelveticaNeue; margin-left: 50px; font-size: 14px; font-weight: 400; float: left; margin-top: 18px;">Settings</div>
      <div class="navbar-band" style="font-family: HelveticaNeue; margin-left: 50px; font-size: 14px; float: right; margin-top: 10px; border: 1px #fff solid; padding: 5px; padding-left: 12px; padding-right: 12px; border-radius: 5px; position: absolute; right: 60px;">Log Out</div>
    </div>
    </div>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
        <!--
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
    </ul>
    -->
    </div>
  </div>
</div>
