<div ng-include="'components/navbar/navbar.html'"></div>

<div id= "sticky-anchor"></div>
<header class="kym_hero_unit" id="banner">
  <div class="container" style="position: absolute;">
      <span id="greeting">
        <h2>Goodmorning Kym!</h2>
        <div id="emergency_btn" style="">Call for Emergency</div>
        <div id="notifs">{{message}}<div id="notifs_triangle"></div>
          <div ng-click="close_notif()" id="close_btn">
            <img src="../assets/images/close.png" style="height: 7px;">
          </div>
        </div>
      </span>
      <span id="date_time">
        <h1>{{currentTime}}</h1>{{static_date}}
      </span>
  </div>
</header>
<div class="container">
  <div class="row">
    <div id="left_side">
      <div class="date">
        <img class="arrow_img" ng-click="decrement()" src="../assets/images/left-arrow.png" style="height: 18px; position: absolute; top: 22px; left: 15px;">
        {{currentDate}}
        <img ng-click="increment()" src="../assets/images/left-arrow.png" style="height: 18px; position: absolute; top: 20px; right: 15px; transform:rotate(180deg)">
      </div>
      <div id="todo_triangle"></div>
      <div id="todo_container">
        <div id="todo_padding">
          <div class="task" ng-repeat="m in values = (meds | filter_after:isEnable | orderBy:'time':false) ">
            <hr ng-show="$index != 0" />
            <div class="status" ng-style="set_bg_color(m)"> {{m.time | cmdate:'h:mm:ss a'}}</div>
            <div class="info_left">
              Medicine:&nbsp;&emsp;{{m.name}}
              <br>
              Dosage:&emsp;&emsp;{{m.dosage}}
              <div ng-show="ctr == 0" class="check_btn">
                Alert Storage
              </div>
            </div>
            <div class="info_right">
              Special Instructions:
              <div ng-click="set_complete(m)" ng-show="show_complete_btn(m)" class="complete_btn">Completed</div>
            </div>
          </div>
          <div ng-show="!values.length" id="no_task"> No More Tasks</div>
        </div>
      </div>
    </div>
    <div id="right_side">
      <div id="miss_comp_container">
        <div id="indicator_missed"></div>
        <div id="indicator_completed"></div>
        <div id="miss_title" ng-click="change_list(false)">
          <img ng-src="{{miss_ic}}" style="height: 20px; margin-right: 5px; position: relative; top: -2px;">Missed
        </div>
        <div id="complete_title" ng-click="change_list(true)">
          <img ng-src="{{complete_ic}}" style="height: 20px; margin-right: 5px; position: relative; top: -2px;">Completed
        </div>
        <br>
        <hr id="divider">
        <br>
        <div id="miss_comp_list">
          <div id="miss_comp_padding">
            <div class="list_item_container" ng-repeat="m in values = (meds | filter_missed:isMiss | orderBy:'time':true )">
              <div class="list_item">
                <div class="time_info" ng-style="varying_colors($index, values.length)">{{m.time | cmdate:'h:mm:ss a'}}</div>
                <div class="misc_info">{{m.name}}<br>{{m.dosage}}</div>
              </div>
              <hr ng-show="$index != values.length - 1">
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<footer class="footer">
  <div class="container">
      <p>© 2016 Mavencare™, made with <span class="glyphicon glyphicon-heart heart-red"></span> for better healthcare.</p>
  </div>
</footer>
<audio id="alert" src="../assets/audio/alert.mp3" preload="auto"></audio>
<audio id="buzzer" src="../assets/audio/late.mp3" preload="auto"></audio>
