<div ng-include="'components/navbar/navbar.html'"></div>
<div id= "sticky-anchor"></div>
<header class="kym_hero_unit" id="banner">
  <div class="container" style="position: absolute;">
      <span style="float: left; color: #fff; font-family: HelveticaNeue; margin-top: 10px; margin-left: 25px;">
        <h2>Goodmorning Kym!</h2>
        <div style="font-family: HelveticaNeue-Thin; font-size: 16px; float: left; margin-top: 5px; border: 1px #fff solid; padding: 5px; padding-left: 18px; padding-right: 18px; border-radius: 5px; color: #fff;">Call for Emergency</div>
        <div id="notifs">{{message}}<div id="triangle"></div><div ng-click="close_notif()" id="close_btn"><img src="../assets/images/close.png" style="height: 7px;"></div></div>
      </span>
      <span style="float: right; margin-right: 90px; margin-top: 20px; text-align: right;">
        <h1>{{currentTime}}</h1>
      </span>
  </div>
</header>
<div class="container">
  <div class="row">
    <div style="background-color: #d1d1d1; width: 65%; margin-top: 50px; float: left;">
      <div class="date">
        <img ng-click="decrement()" src="../assets/images/left-arrow.png" style="height: 18px; position: absolute; top: 22px; left: 15px;">
        {{currentDate}}
        <img ng-click="increment()" src="../assets/images/left-arrow.png" style="height: 18px; position: absolute; top: 20px; right: 15px; transform:rotate(180deg)">
      </div>
      <div class="triangle"></div>
      <div class="todo_container">
        <div class="padding">
          <div class="task" ng-repeat="m in values = (meds | filter_after:isEnable | orderBy:'time':false) ">
            <hr ng-show="$index != 0" />
            <div class="status" ng-style="set_bg_color(m)"> {{m.time | cmdate:'h:mm:ss a'}}</div>
            <div class="info">Name:&emsp;&emsp;{{m.name}}<br>Dosage:&emsp;{{m.dosage}}<div ng-show="ctr == 0" class="check_btn">Alert Storage</div></div>
            <div class="right_side">
              Special Instructions:
              <div ng-show="show_complete_btn(m)" class="complete_btn">Completed</div>
            </div>
          </div>
          <div ng-show="!values.length" style="position: relative; font-size: 30px; color: #666; font-weight: 400; font-family: HelveticaNeue; top: 200px; left: 35%;"> No More Tasks</div>
        </div>
      </div>
    </div>
    <div style="background-color: #d1d1d1; width: 35%; margin-top: 50px; float: left; position: relative">
      <div class="missed_container"></div>
    </div>
</div>
<footer class="footer">
  <div class="container">
      <p>© 2016 Mavencare™, made with <span class="glyphicon glyphicon-heart heart-red"></span> for better healthcare.</p>
  </div>
</footer>
<audio id="alert" src="../assets/audio/alert.mp3" preload="auto"></audio>
<audio id="buzzer" src="../assets/audio/late.mp3" preload="auto"></audio>
