<div ng-include="'components/navbar/navbar.html'"></div>

<header class="kym_hero_unit" id="banner">
  <div class="container">
      <span style="float: left; color: #fff; font-family: HelveticaNeue; margin-top: 10px; margin-left: 25px;">
        <h2>Goodmorning Kym</h2>
        <div style="font-family: HelveticaNeue-Thin; font-size: 16px; float: left; margin-top: 5px; border: 1px #fff solid; padding: 5px; padding-left: 18px; padding-right: 18px; border-radius: 5px; color: #fff;">Call for Emergency</div>
      </span>
      <span style="float: right; margin-right: 90px; margin-top: 20px; text-align: right;">
        <h1>{{currentTime}}</h1>
      </span>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center">
      <button ng-click="increment()">
        Increment
      </button>
      <button ng-click="decrement()">
        decrement
      </button>
            <h1>{{currentDate}}</h1>
        <div ng-repeat="m in meds">
            {{m.time}} {{m.name}} {{m.dosage}}
        </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
      <p>© 2016 Mavencare™, made with <span class="glyphicon glyphicon-heart heart-red"></span> for better healthcare.</p>
  </div>
</footer>
